.container {
    text-align: center;
    margin-top: 100px;
  }
  
  input, button {
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #3b2f2f;
    color: white;
    border: none;
  }
  
  body {
    background-color: #6fa8dc;
  }
  