<div class="welcome-container">
  <div class="welcome-content">
    <h1>
      <span class="shore-text">Shore</span>
      <span class="stay-text">Stay</span>
    </h1>
    
    <p>Your Beach Retreat Starts Here!</p>
    <div class="button-group">
      <button routerLink="/signup" class="welcome-button signup-button">Sign Up</button>
      <button routerLink="/login" class="welcome-button login-button">Log In</button>
    </div>
    <button routerLink="/userpage" class="welcome-button guest-button">Continue as guest<span class="arrow">→</span></button>
  </div>
</div>

