<div class="login-container">
  <div class="login-content">
    <button class="back-button" (click)="navigateToWelcome()"><i class="fa-solid fa-arrow-left"></i></button>
    
    <h2 class="login-title">Sign Up</h2>
    <form class="login-form">
      <div class="form-group">
        <label for="text" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-input" placeholder="Full Name" required>
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-input" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Create Password</label>
        <input type="password" id="password" name="password" class="form-input" placeholder="Create password" required>
      </div>
      <div class="form-group">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" class="form-input" placeholder="Confirm password" required>
      </div>
      <button type="submit" class="login-button">Sign Up</button>
    </form>
    <hr class="divider">
    <p class="signup-text">Already have an account? <a href="/login" class="signup-link">Login</a></p>
  </div>
</div>